
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<style type="text/css">
	g-wrapper{
		display: inline-grid;
		grid-template-columns: 1fr;
		grid-auto-flow: row;
	}
	g-item{
		grid-column: 1;
	}
	input, textarea{
		background-color: #FFF;
		border: 1px solid #EEE;
		border-left-color: #999;  
		border-top-color: #999;
		font-size: 10pt;
		min-height: 18pt;  
		min-width: 16em !important;
		padding: 4px 8px;
	}
</style>

<script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript"></script>

<body>
	<div id="app-groups"></div>
	<script type="text/javascript">
		Vue.component('group', {
			data: {
				groups: []
			},
			template: '<option v-for="group in groups" v-bind:id="g.id" v-bind:value="g.name" v-model:title="g.title" v-model:default="g.default" />'
		}); 
	</script>

	<hr />
	<div id="app">
		<datalist id="groups">
			<option v-for="g in groups" v-bind:id="g.id" v-bind:value="g.name" v-model:title="g.title" v-model:default="g.default" />
		</datalist>
		<form>
				<div><input list="groups" placeholder="group"></div>
				<div><textarea placeholder="question">{{question}}</textarea></div>
				<div><textarea placeholder="answer">{{answer}}</textarea></div>
				<div><input type="number" min="0" max="100" placeholder="priority" v-bind:value="priority"></div>
			</dl>
		</form>
		<span v-model:title="message">
			Hover your mouse over me for a few seconds
			to see my dynamically bound title!
		</span>

	</div>
</body>

<script type="text/javascript">
	const app = new Vue({
		el: '#app',
		data: {
			groups: [
				{ id: "html", name: "HTML", title: "", default: false },
				{ id: "css", name: "CSS", title: "", default: false },
				{ id: "js", name: "JS", title: "", default: false }
			],
			question: "",
			answer: "",
			priority: "",
			message: 'Hello Vue!'
		}
	});
</script>

</html>
